#menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
}

#menu-container .card {
    padding: 30px;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, .25);
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
}

#menu-container .card > img {
    border-radius: 8px;
}

#menu-container .card > h3 {
    font-size: 1.2rem;
    font-weight: 700;
}

#menu-container .card > p {
    font-size: 0.95rem;
    font-style: italic;
}

#menu-container .card > *:not(:first-child) {
    margin-top: 10px;
}

@media only screen and (max-width: 768px) {
    :root {
        font-size: 0.85rem;
    }

    #home-container {
        flex-direction: column;
    }
}